<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer USA</title>
    <!-- Link to Stylesheet -->
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <h1>Volunteer USA</h1>
    </header>
    <nav>
        <!-- Navigation -->
            <a href="/">Home</a> 
            <a href="/people">Our People</a>
            <a href="/events">Events</a>
            <a href="/venues">Venues</a>
            <a href="/donations">Donations</a>
            <a href="/assignments">Volunteer Assignments</a>
    </nav>
    <main>
        <h2>Welcome to Volunteer USA</h2>
        <p>Your one-stop solution for managing nonprofit organization data.</p>
    </main>
    <!-- Footer -->
    <footer>
        Volunteer USA &copy; 2024
    </footer>
</body>
</html>